<div class="sidenav" [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''"> 
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">
            <i class="fa fa-bars"></i>
        </button>
        @if (!isLeftSidebarCollapsed()) {
            <div class="logo-text">FacturApp  
                <P class="frase">Gestion integral</P>
            </div>
            <button class="btn-close" (click)="closeSidenav()"><i class="fa fa-times close-icon"></i></button>

        }        
    </div>

    <div class="sidenav-nav">
        @if (!isLeftSidebarCollapsed()){
            <p class="divisionText">Navegacion</p>
        }
        @for (item of items; track $index) {
            <li class="sidenav-nav-item">
                
                @if(item.children){
                    <a
                        class="sidenav-nav-link"
                        (click)="toggleSubmenu(item.label)"
                        [class.submenu-activa]="isSubmenuOpen(item.label)"
                    >
                    <i-feather class="sidenav-link-icon" name="{{item.icon}}"></i-feather>
                    @if (!isLeftSidebarCollapsed()) {
                        <span class="sidenav-link-text">{{ item.label }}</span>
                        <i-feather
                            class="chevron-icon"
                            [class.rotate]="isSubmenuOpen(item.label)"
                            name="chevron-down"
                        ></i-feather>
                    }
                    </a>
                } @else {
                    <a 
                        class="sidenav-nav-link"
                        [routerLink]="item.routeLink"
                        routerLinkActive="active|">

                        <i-feather class="sidenav-link-icon" name="{{item.icon}}"></i-feather>
                        @if(!isLeftSidebarCollapsed()){
                            <span class="sidenav-link-text">{{item.label}}</span>
                        }
                    </a>
                }
               
                    
                

                @if (isSubmenuOpen(item.label) && !isLeftSidebarCollapsed()){
                    <ul class="submenu">
                        @for (child of item.children; track $index){
                            <li class="submenu-item">
                                <a 
                                    class="submenu-link"
                                    [routerLink]="child.routeLink"
                                    routerLinkActive="active"
                                >
                                <i-feather class="submenu-icon" name="{{child.icon}}"></i-feather>
                                <span>{{child.label}} </span>
                                </a>
                            </li>
                        }
                    </ul>
                }
            </li>
        } 
    </div>
</div>